body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(40, 63, 194, 0.425);
}

h1 { 
    color: black; 
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px; 
    font-weight: 300; 
    line-height: 55px; 
    margin: 5%;
}

#index {
	animation: type 2s steps(45), blink .7s step-end 2s infinite alternate;
}


  @keyframes type {
    0% {
      width:0ch;
    }
    100% {
      width:30ch;

    }

  }

  @keyframes blink {

   40% { border-color: transparent;

   }
}

footer {
	font-size: 18px;
	color: #000000c5;
	width: 100%;
	bottom: 0px;
	padding: 20px;
	text-align: center;
}


.topnav li.a, li, .rightnav {
	float: none;
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}  

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active), a:focus:not(.active), .active {
	color: rgb(0, 0, 0);
    background-color: rgb(48, 187, 129);
	text-decoration: underline overline #000000;
	text-decoration-thickness: 5px;
}

p {
    color: black; 
    font-family: 'Quicksand', sans-serif;
    font-size: 16px; 
    line-height: 26px;
    margin: 1%;
}

.cover {
	margin: 0;
	padding: 0;
	height: 5fr;
	object-fit: cover;
	width: 100%;
	height: auto;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	grid-column-gap: 5%;
	grid-row-gap: 10;
}

.grid-item{
	height: 5%;
	object-fit: cover;
	width: 100%;
	height: auto;
}

.jump{
	position: relative;
	right: -2000px;
}

.skip:focus{
	position: static;
}

.project_description {
    color: black;
	line-height: 1.2;
	width: 80%;
	margin-left: 5%;
}

#my-thoughts {
	text-align: center;
}

.parallax {
	background-image: url('mj_vs_bron.jpg');
  
	height: 100px; 
	width: 100%;
  
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.flip-card{
	width: 700px;
	height: 700px;
	padding: 20px;
	margin: auto;
	perspective: 800px;
	display: block;
 }
 
 .flip-card-inner{
	 position: relative;
	 width: 100%;
	 height: 100%;
	 text-align: center;
	 transform-style: preserve-3d;
	 transition: transform 1.0s;
 }
 
 .flip-card:hover .flip-card-inner, .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner, .flip-card:focus-within .flip-card-inner{
	 transform: rotateY(180deg);
 }
 
 .flip-card-front, .flip-card-back {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 backface-visibility: hidden;
	 -webkit-backface-visibility: hidden;
 }
 
 .flip-card-front{
	 background-color: #1e8d7b;
 }
 
 .flip-card-back h1{
	 margin-top: 14px;
 }
 
 .flip-card-back {
   background-color: #1e8d7b;
   color: #000000;
   line-height: 200%;
   transform: rotateY(180deg);
 }
 
 .flip-card-back p{
	 text-align: center;
	 font-family: 'Fjalla One', sans-serif;
	 font-size: 20px;
 }
 
 .flip-card.focus-within .flip-card-inner{
	 transform: rotateY(180deg);
 }

h2 {
	font-size: 20px;
	font-weight: bold;
	position: relative;
	margin: 2% 0% 2%;
	width: 100%;
}

.portrait {
	width: 30%;
	margin: 8%;
}

.paragraphs{
	margin: 5%;
	width: 90%
}

.bookcover {
	margin: 5%;
	width: 80%;
}

#standing {
	display: block;
	margin: auto;	
	padding: 20px;
	width: 500px;
	height: 700px;
}

#linkedin {
	border: 0;
	padding: 3% 0%;
	width: 10%;
}

#github {
	border: 0;
	padding: 3% 0%;
	width: 10%;
}


@media only screen and (min-width: 500px) {
	.topnav {
		list-style-type: none;
		margin: 1%;
		padding: 0;
		overflow: hidden;
		background-color: rgb(2, 7, 10);
	}
	li {
		float: left;
	}
	.rightnav {
		float: right;
	}

	.project_description {
		width: 100%;
		margin-left: 5%;
	}
	.pic {
		width: 70%;
	}
}

@media only screen and (min-width: 850px) {
	.flex-container {
		flex-direction: row;
	}
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}
	#standing {
		display: flex;
	}
	.pic {
		width: 80%;
	}
	.paragraphs {
		width: 70vh;
	}
}

@media only screen and (min-width: 1200px) {
	.grid-container {
		grid-template-columns: repeat(4, 1fr);
	}
	.pic {
		width: 50%;
	}
}


@media screen and (prefers-reduced-motion: reduce) {
	#index {
		animation: none;
		border-right: none;
	}
    .parallax {
        background-attachment: scroll;
    }

    .flip-card-inner {
        transition: none;
    }
  }

#bottom-footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
	width: 100%;
}

